@model IEnumerable<ToDoMVC.Models.Folder>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Lista de Carpetas</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Folder" asp-action="Create" class="btn btn-primary">
                Crear nueva Carpeta
            </a>
        </div>
    </div>
    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Nombre de la Carpeta
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.FolderName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay carpetas creadas</p>
    }

</div>
